# OrbitFire AI — GAIE | FIAP Global Solution
# Sentinela Corp — https://github.com/sentinela-corp/sentinela-app-gaie
# Autores: Deivison Pertel (RM 550803) · Eduardo Akira Murata (RM 98713) · Wesley Souza de Oliveira (RM 97874)

scikit-learn
numpy
pandas
matplotlib
seaborn
shap
streamlit
joblib
